<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RetailRotationClientDataBase" connectionString="Server= DESKTOP-RB7GS8A; Database= RetailRotationClientDataBase; Trusted_Connection= True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerAddress" value="http://localhost:5000/retailHub"/>
    <add key="CodigoDelLocalCambiosInventario" value="1"/>
  </appSettings>
</configuration>