<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RetailRotationServerDataBase" connectionString="Server= DESKTOP-RB7GS8A; Database= RetailRotationServerDataBase; Trusted_Connection= True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>