<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RetailRotationServerDataBase" connectionString="Server= DESKTOP-RB7GS8A; Database= RetailRotationServerDataBase; Trusted_Connection= True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CodigoDelLocalCambiosInventario" value="SERVIDOR"/>
    <!--El código de la caja debe ser ÚNICO  en cada local y consta de [CódigoDelLocal : CódigoÚNICODeLaCaja]. WARNING:Es para  modificaciones de inventario! -->
    <add key="Caja" value="SERVIDOR:SERVIDOR"/>
  </appSettings>
</configuration>